<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal - Controle de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main-container">
        <div class="left-side">
            <img src="https://cdn-icons-png.flaticon.com/512/3081/3081559.png" alt="Controle de Compras" class="side-img">
            <h1>Controle de Compras</h1>
        </div>

        <div class="right-side">
            <div class="card" onclick="window.location.href='/index'">
                <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="Cadastro de Compras">
                <h2>Cadastro de Compras</h2>
            </div>
            
            <div class="card" onclick="window.location.href='/relatorio'">
                <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="Relatorios">
                <h2>Relatórios</h2>
            </div>
        </div> 
    </div>
</body>
</html>